@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR&family=Sarina&display=swap");
.LandingBanner_1 {
  background-color: #0d0d0d;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.LandingBanner_1 .text_container {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.LandingBanner_1 .text_container > * {
  color: white;
  font-family: "DM Serif Display", serif;
}
.LandingBanner_1 .text_container .logo {
  font-size: 80px;
  margin-bottom: 30px;
}
.LandingBanner_1 .text_container h5 {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 70px;
}
.LandingBanner_1 .text_container h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 19px;
}
.LandingBanner_1 .background_container {
  position: absolute;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.LandingBanner_1 .background_container .box-gray {
  background-color: #595959;
}
.LandingBanner_1 .background_container #center-box {
  width: 250px;
  height: 450px;
}
.LandingBanner_1 .background_container .circle-blue {
  position: absolute;
  border-radius: 50%;
  background-color: #5200ff;
}
.LandingBanner_1 .background_container #top-left-circle {
  transition: 0.8s left 0.1s ease-in-out;
  width: 300px;
  height: 300px;
  top: 20vh;
  left: 15vw;
}
.LandingBanner_1 .background_container .categories {
  position: absolute;
  width: 80%;
  height: 80%;
}
.LandingBanner_1 .background_container .categories > div {
  font-family: "Sarina", cursive;
  color: white;
  width: min-content;
  position: absolute;
}
.LandingBanner_1 .background_container .categories .photographer {
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0%;
  top: 50%;
  left: 0;
  transition: 0.5s;
}
.LandingBanner_1 .background_container .categories .photographer:hover {
  transform: rotate(-90deg) translateX(-50%) scale(1.1);
}
.LandingBanner_1 .background_container .categories .stylist {
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.LandingBanner_1 .background_container .categories .stylist:hover {
  transform: scale(1.1);
}
.LandingBanner_1 .background_container .categories .model {
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.LandingBanner_1 .background_container .categories .model:hover {
  transform: scale(1.1);
}
.LandingBanner_1 .background_container .categories .hair-makeup {
  transform-origin: 100%;
  transform: rotate(90deg) translateX(50%);
  top: 50%;
  right: 0;
  transition: 0.5s;
}
.LandingBanner_1 .background_container .categories .hair-makeup:hover {
  transform: rotate(90deg) translateX(50%) scale(1.1);
}

.LandingBanner_2 {
  background-color: #0d0d0d;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.LandingBanner_2 .text_container {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.LandingBanner_2 .text_container > * {
  color: white;
  font-family: "DM Serif Display", serif;
}
.LandingBanner_2 .text_container .logo {
  font-size: 80px;
  margin-bottom: 30px;
}
.LandingBanner_2 .text_container h5 {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 70px;
}
.LandingBanner_2 .text_container h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 19px;
}
.LandingBanner_2 .background_container {
  position: absolute;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.LandingBanner_2 .background_container .categories {
  position: absolute;
  width: 80%;
  height: 80%;
}
.LandingBanner_2 .background_container .categories > div {
  font-family: "Sarina", cursive;
  color: white;
  width: min-content;
  position: absolute;
}
.LandingBanner_2 .background_container .categories .photographer {
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0%;
  top: 50%;
  left: 0;
  transition: 0.5s;
}
.LandingBanner_2 .background_container .categories .photographer:hover {
  transform: rotate(-90deg) translateX(-50%) scale(1.1);
}
.LandingBanner_2 .background_container .categories .stylist {
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.LandingBanner_2 .background_container .categories .stylist:hover {
  transform: scale(1.1);
}
.LandingBanner_2 .background_container .categories .model {
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.LandingBanner_2 .background_container .categories .model:hover {
  transform: scale(1.1);
}
.LandingBanner_2 .background_container .categories .hair-makeup {
  transform-origin: 100%;
  transform: rotate(90deg) translateX(50%);
  top: 50%;
  right: 0;
  transition: 0.5s;
}
.LandingBanner_2 .background_container .categories .hair-makeup:hover {
  transform: rotate(90deg) translateX(50%) scale(1.1);
}
.LandingBanner_2 #c {
  width: 100%;
  height: 100%;
  display: block;
}

/*# sourceMappingURL=LandingBanner.css.map */
