@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
@import '../../Header.scss';

.ProfileEdit {
	@include centerFill(100%);
	height: 100%;

	.background {
		@include centerFill(100%);
		height: 100%;
		background-color: #f3f3f3;

		form {
			@include centerFill(40%);
			min-width: 500px;
			padding: 45px 60px;
			background-color: #fff;
			position: relative;
			font-family: 'Noto Sans KR', sans-serif;
			flex-direction: column;
			border: 1px solid #848484;

			.img_name_category {
				@include centerFill(100%);

				.img_container {
					@include centerFill(200px);
					flex-direction: column;

					label {
						@include centerFill(100%, column);
						text-align: center;
					}

					input {
						display: none;
					}
				}

				.name_category_container {
					@include centerFill(100%);
					padding: 20px;
					align-items: flex-start;
					flex-direction: column;

					div {
						display: grid;
						grid-template-columns: 110px auto;
						align-items: center;
						margin-bottom: 25px;
					}

					* {
						width: 100%;
					}

					input {
						@include textInput(100%, 30px);
					}
				}
			}

			.user_contact {
				@include centerFill(100%);
				flex-direction: column;
				align-items: flex-start;
				margin-top: 20px;

				span {
					font-size: 20px;
					margin-bottom: 10px;
				}

				.input_container {
					width: 100%;
					padding: 12px;
					border-radius: 7px;
					display: grid;
					row-gap: 7px;
					grid-template-columns: 100px auto 60px;
					align-items: baseline;
					justify-items: start;
					border: 1px solid #848484;

					label {
						font-family: 'Roboto', sans-serif;
						color: #757575;
					}

					& > input {
						@include textInput(100%, 30px, rgba(0, 0, 0, 0));
						background-color: #e9e9e9;
					}

					.public_checkbox_container {
						display: flex;
						width: 100%;
						justify-content: space-around;
					}
				}
			}

			.description {
				width: 100%;
				margin-top: 20px;
				margin-bottom: 35px;

				span {
					font-size: 20px;
				}

				textarea {
					margin-top: 10px;
					@include textInput(100%, 85px);
					resize: none;
				}
			}

			button[type='submit'] {
				font-family: 'Noto Sans KR', sans-serif;
				font-size: 15px;
				// position: absolute;
				// bottom: 20px;
				// right: 70px;
				@include button(149px, 43px, #ffffff, #5200ff);
				color: #5200ff;
				border-radius: 9px;
			}
		}
	}
}