.ProfileMain {
  .profile_container {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-left: 1px;
    margin-top: 8%;

    .profile_image {
      width: 150px;
      height: 150px;
      border-radius: 100px;
    }

    .profile_info_container {
      .profile_username,
      .profile_email,
      .profile_category,
      .profile_desc {
        display: grid;
        grid-template-columns: 110px 1fr;
        margin-right: 20px;
        padding: 10px;

        .profile_info {
          margin-right: 5%;
          color: #878787;
        }
      }
    }
  }

  .profile_button {
    display: flex;
    justify-content: flex-end;
    margin: auto 1px;
    padding: 2px;

    a {
      border: 1px solid black;
      padding: 5px;
      margin: 5px;
    }
  }
}
