.ProfileLayout {
  border: #cecece 1px solid;
  font-family: "NanumSquare", sans-serif;
  margin: 3% 4%;
  padding: 3% 4%;
  display: flex;

  .ProfileCard {
    width: 350px;
    min-width: 350px;
  }
}
