.ProfileLayout {
  border: #cecece 1px solid;
  font-family: "NanumSquare", sans-serif;
  width: 84%;
  min-width: 900px;
  margin: 3% auto;
  padding: 3% 0 3% 4%;
  display: grid;
  grid-template-columns: 350px auto;

  .ProfileCard {
    height: fit-content;
  }

  .content_container {
    width: 90%;
    margin: 0 5%;
  }
}
