.ProfileLayout {
  font-family: "NanumSquare", sans-serif;
  margin: 3% 4%;
  text-decoration: none;
  list-style-type: none;

  .tabs {
    display: flex;
    margin: auto 1px;
    padding: 2px;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
  }
}
