@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&family=Lora:wght@500&family=Noto+Sans+KR:wght@500&display=swap");

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hello {
    position: relative;
    width: 100%;
    height: 150vh;

    .text_space {
      position: relative;
      z-index: 1;
      //   transform: translateY(-20%);
      margin-top: -20%;
      padding-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 550px;
      height: 80vh;

      h1 {
        font-size: 96px;
        font-family: "Lora", serif;
        line-height: 122.88px;
      }
      h4 {
        font-size: 18px;
        font-family: "Noto Sans KR", sans-serif;
        text-align: center;
        line-height: 24.52px;
      }
    }
  }

  .MainSection {
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .RandomMagazine,
  .more {
    width: 1000px;
    margin: 5% auto 0% auto;
  }

  .more {
    margin-bottom: 3%;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      font-family: "Gothic A1", sans-serif;
      height: 100%;
      line-height: 1.4;
      text-align: end;
      margin-right: 25px;
    }
    i {
      font-size: 35px;
    }
  }
}
