@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "../Header.scss";

.FilterList {
  display: flex;

  .button_container {
    input {
      display: none;
    }

    label {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 400;
      padding: 9px 19px;
      height: 40px;
      box-sizing: content-box;
      cursor: pointer;
      border-radius: 9px;
      margin-right: 10px;
      outline: none;
      background-color: #ffffff;
      color: #000000;
      border: #bfbfbf 1px solid;
    }

    :checked + label {
      background-color: $theme-purple;
      color: white;
      border: $theme-purple 1px solid;
    }
  }
}
