@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../Header.scss';

.FilterList {
	height: 100%;
	align-items: center;

	.filter_container {
		display: flex;
		
		.button_container {
			height: 100%;
			display: flex;
			align-items: center;

			input {
				display: none;
			}

			label {
				height: 100%;
				display: flex;
				align-items: center;
				font-family: 'Roboto', sans-serif;
				font-size: 13px;
				font-weight: 400;
				padding: 0px 19px;
				height: 40px;
				box-sizing: content-box;
				cursor: pointer;
				border-radius: 9px;
				margin-right: 10px;
				outline: none;
				background-color: #ffffff;
				color: #000000;
				border: #bfbfbf 1px solid;
			}

			input:checked + label {
				background-color: $theme-purple;
				color: white;
				border: $theme-purple 1px solid;
			}
		}
	}
	
	.sub_category_container{
		display:flex;
		
		.sub_category{
			margin-right: 10px;
			
			input{
				display: none;
			}
			
			input:checked + label {
				color: $theme-purple;
			}
		}
	}
}