@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../Header.scss';

.FilterList {
	align-items: center;

	.filter_container {
		display: flex;

		.button_container {
			height: 100%;
			display: flex;
			align-items: center;

			input {
				display: none;
			}

			label {
				height: 100%;
				display: flex;
				align-items: center;
				font-family: 'Roboto', sans-serif;
				font-size: 13px;
				font-weight: 400;
				padding: 0px 19px;
				height: 40px;
				box-sizing: content-box;
				cursor: pointer;
				border-radius: 9px;
				margin-right: 10px;
				outline: none;
				background-color: #ffffff;
				color: #000000;
				border: #bfbfbf 1px solid;
			}

			input:checked + label {
				background-color: $theme-purple;
				color: white;
				border: $theme-purple 1px solid;
			}
		}
	}

	.sub_category_container {
		margin-top: 20px;
		display: flex;

		.sub_category {

			input {
				display: none;
			}
			
			label{
				font-size: 13px;
				ont-family: 'Roboto', sans-serif;
			}

			input:checked + label {
				color: $theme-purple;
			}
		}

		.sub_category + .sub_category::before {
			margin: 0 15px;
			content: '|';
		}
	}
}