@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.pay {
  margin-right: 30px;
  label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
}
