@import "../Header.scss";

.SearchForm {
  $height: 50px;

  @include centerFill(100%);
  height: $height;
  justify-content: space-between;
  align-items: center;

  > * {
    height: 100%;
  }

  input {
    @include textInput(100%, $height, #cacaca);
  }

  button {
    @include button($height, $height, #5200ff);

    i {
      font-size: $height * 0.6;
      color: #ffffff;
    }
  }
}
