@import "../Header.scss";

.AccountsForget {
  @include centerFill(500px, column);
  background-color: #ffffff;
  border: #cacaca 1px solid;

  form {
    @include centerFill(80%, column);

    > * {
      @include centerFill(100%, column);
    }
    label {
      align-items: flex-start;
    }
  }
}
