* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "NanumSquare", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root,
.App {
  min-height: 100vh;
}

.App {
  position: relative;
}

nav {
  background-color: #fff;
}

nav a {
  color: black;
}

.content {
  display: block;
  margin: 0 auto;
}
