$theme-purple: #5200ff;
$GNB-padding: 15px;
$GNB-height: 10%;

@mixin centerFill($width, $direction: row) {
  width: $width;
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin button($width, $height, $background, $border: #00000000) {
  width: $width;
  height: $height;
  background-color: $background;
  border: $border 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin roundedTag($width, $height, $background: #e2e2e2) {
  @include centerFill($width);
  height: $height;
  font-size: $height * 0.63;
  border-radius: $height / 2;
  background-color: $background;
}

@mixin textInput($width, $height, $borderColor: #939393) {
  border: 1px solid $borderColor;
  border-radius: 7px;
  width: $width;
  height: $height;
  padding: 5px;
}

@mixin ellipsisLine($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
